html { 
    background-color:#f2eee3;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
    margin: 0px;
    height: 100%;
    overflow: hidden;
    font-family: 'Titillium Web', sans-serif;
    

}
h1 {
    font-size: 40px;
    line-height: 20px;
    
}
h2 {
margin-top: 70px;
font-size: 1.5vw;
line-height: 2px
}
h3 {
font-size: 1.3vw;
line-height: 10px;
font-weight: 100;
letter-spacing: .5vw    
}
.text {
    padding-left: 20px;
    
    
}
.box1 {
    background-color: #92a78c;
    height: 300px;
    flex: 1;
    border-radius: 500px;
    position: relative;
    align-self: flex-end;
    transition: all .5s;
    overflow: hidden;
    text-align: center;
        color: black;


}
.imgcontainer {
    margin:10px;
    padding-top: 50px;
    opacity: .5;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;

}
.imgcontainer:hover {
    opacity: 1;
}

img{
max-width:100%;
}
.box2 {
    background-color: #5b584f;
    height: 300px;
    flex: 1;
    border-radius: 500px;
    position: relative;
    align-self: flex-end;
    transition: all .5s;
    overflow: hidden;
    text-align: center;
    color: white;

}
.box3 {
    background-color: #e0d5ad;
    height: 300px;
    flex: 1;
    border-radius: 500px;
    position: relative;
    align-self: flex-end;
    transition: all .5s;
    overflow: hidden;
    text-align: center;
        color: white;


}
.box4 {
    background-color: #f7cd82;
    height: 300px;
    flex: 1;
    border-radius: 500px;
    position: relative;
    align-self: flex-end;
    transition: all .5s;
    overflow: hidden;
    text-align: center;
        color: white;


}
.box5 {
    background-color: #f79e6b;
    height: 300px;
    flex: 1;
    border-radius: 500px;
    position: relative;
    align-self: flex-end;
    transition: all .5s;
    overflow: hidden;
    text-align: center;
        color: white;


}
.active {
height: 600px;
}

.hover {
	height: 320px;
}
.boxa:hover{
    height: 320px;
}

#row {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    bottom:-200px;
    overflow: hidden;

}
#row2 {
    display: flex;
    flex-direction: row;
    width: 116.6%;
    position: absolute;
    bottom: -100px;
    overflow: hidden;
    right: -8.5%;
    overflow: hidden;


}
#row3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    bottom: 0px;
    overflow: hidden;

}
#row4 {
    display: flex;
    flex-direction: row;
    width: 116.6%;
    position: absolute;
    bottom: 100px;
    overflow: hidden;
    right: -8.5%;
    overflow: hidden;

}
#row5 {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    bottom: 180px;
    overflow: hidden;

}
#container {
    height: 100vh;
    overflow: hidden;

}
video::-webkit-media-controls {
    display:none !important;
    

}
.videocont {
    padding-top: 50px;
    opacity: .5;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    max-width:100%;

}
.videocont:hover {
    opacity: 1;
}
