body {
    cursor: default;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;

}
        h1 {
            font-size: 400px;
            letter-spacing: -90px;
            position: absolute;
            font-weight: 900;


        }
        h2 {
            font-size: 401px;
            letter-spacing: -18px;
            font-weight: 100;
            position: absolute;
            color: white;
        }
        h3 {
            font-size: 78px;
            position: absolute;
            top: 570px;
            left: 80px;

        }
        h4 {
            font-size: 110px;
            position: absolute;
            top: 560px;
            left: 90px;


        }
        .brass{            
            font-size: 90px;
            font-weight: 900;            
            padding-left: 8px;
            top: 0;
            width: 100%
            position: absolute;
            z-index: 1000;
            }
        .dust {            
            font-size: 90px;
            position: absolute;
            right: 50%;           
            font-weight: 900;


        }

        .first {
            height: 2000px;
        }
        .second {
            width: 100%;
            text-align: center;
            right: -39%;
        }

        .water {
            height: 100%;
            width: 100%;
            background-color: skyblue;
            opacity: .5;
            overflow: auto;
            float: left; 
            position: fixed;
        }
.words {
position: fixed; 
font-weight: 900;            
font-size: 40PX;
margin-left: 9px;
right: 50%;
    align-content: center;
}
.bigwords {
position: fixed; 
font-weight: 900;            
font-size: 40PX;
left: 0;
padding-left: 8px;
align-content: center;
}
