body{
    margin: 0;
        height: 100%;
    overflow: hidden;

    background-color: dimgrey;
}

.brisles {
    background-color: bisque;
    height: 200px;
    width: 150px;
    position: relative;
    z-index: 700000
    
}
.brush {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 50px;
  height: 0;
  border: 50px solid rgba(0,0,0,0);
  border-top: 0 solid;
  border-bottom: 100px solid antiquewhite;
    margin-top: 450px;
    z-index: 1;
        position: relative;

/*
  -webkit-transform: rotateX(180deg) scaleY(10)  ;
*/
  transform: rotateX(180deg) scaleY(10);

}
.paint {
    background-color: aqua;
    width: 150px;
    height: 300px;
    position: fixed;
    z-index: 1;
    margin-top: 190px;
}
.metal {
   background-color: darkgrey;
    height: 200px;
    width: 150px;
    z-index: 6000;
        position: relative;

    
}
#container {
    margin: auto;
    width: 150px;
    padding-top: 200px;
    transition: padding ease .5s;
}
#container2 {
    margin: auto;
    width: 150px;
    
}
#container:hover {
    padding-top: 350px;
}