body{
    margin: 0;
}
.wall1 {
    background-color: darkkhaki;
    height: 700px;
    flex: 2;
    transform: rotate3d(0,-6,-1,30deg);
    
}
.wall2 {
    background-color: olive;
    height:700px;
    flex: 3;
}
.wall3{
   background-color: darkgrey;
    height: 100px;
}
.table{
    
}
.door{
    
}
.computer{
    
}
#container {
    display: flex;
    justify-content: space-evenly;
    align-items:center;

}
